@import "src/assets/styles/variables";

.categories {
  padding: 12px 0;
}

.categories > a {
  display: inline-block;
  margin: 4px 8px 4px 0;
  padding: 4px 8px;
  border: solid 1px $color-text;
  font-size: 0.875rem;
  cursor: pointer;
  color: $color-text;
  text-decoration: none;

  &.active {
    color: white;
    background: $color-primary;
    border-color: $color-primary;
  }
  &:not(.active):hover {
    background: $color-grey;
  }
}
