@import "src/assets/styles/variables";

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 2 * $spacing;

  // &.grid--2 {
  //   grid-template-columns: repeat(2, minmax(280px, 1fr));
  // }
  // &.grid--3 {
  //   grid-template-columns: repeat(3, minmax(280px, 1fr));
  // }
  // &.grid--4 {
  //   grid-template-columns: repeat(4, minmax(280px, 1fr));
  // }
}

.grid__item {
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.grid__item a {
  text-decoration: none;
}

.grid__item figure {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.grid__item figcaption {
  margin: 0;
  padding: 0.5 * $spacing 1 * $spacing;
  background-color: $color-white;
  border-top: solid 1px $color-grey-01;
}

.grid__item figcaption p {
  margin-top: 0.5 * $spacing;
  margin-bottom: 0.5 * $spacing;
  color: $color-text;
}

.item__price::after {
  content: "€";
}

.grid__item figcaption .item__desc {
  color: $color-text-2;
}
