@import "src/assets/styles/variables";

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 2 * $spacing;
}

.grid__item a {
  text-decoration: none;
}

.grid__item:hover ::ng-deep .cta__link {
  background: white;
  color: $color-cta;
  animation: none;
}

.grid__item figure {
  position: relative;
  overflow: hidden;
  margin: 0;

  img.fit {
    height: 400px;
    object-fit: cover;
    object-position: center;

    @media screen and (min-width: 1400px) {
      height: 600px;
    }
  }
}

.grid__item figcaption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: $color-text;
    margin: 0.5rem;
    text-align: center;
  }
  .title {
    font-size: 2.5rem;
    font-family: $font-header;
    &.t-white {
      color: $color-white;
    }
  }
  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: $color-text-2;
    &.t-white {
      color: $color-white;
    }
  }

  .cta {
    margin: 0;
  }
}
