@import "src/assets/styles/variables";

header {
  background: $color-white;
  border-top: solid 4px $color-primary;
  border-bottom: solid 1px $color-grey-02;
}

header .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  height: $header-height;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: $color-text;

  span {
    display: inline-block;
    padding: 13px;
  }

  &.text-link {
    display: none;

    span {
      padding: 14px;
    }
  }

  &.search-link {
    display: inline-block;
  }

  &:hover {
    background: white;
    color: $color-primary;
  }

  &.active {
    font-weight: bold;
    color: $color-primary;
  }
}

@media screen and (min-width: 768px) {
  nav ul li a.text-link {
    display: inline-block;
  }

  nav ul li a.icon-link {
    display: none;
  }
}

nav ul li a.img-link {
  padding: 0;
  margin-right: 2 * $spacing;

  .img-logo {
    display: block;
    height: $header-height;
    width: auto;
    padding: 8px;
  }
}

@media screen and (min-width: 768px) {
  nav ul li.has-sub {
    position: relative;

    &:hover ul.sub {
      display: block;
    }
  }
}

nav ul.sub {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: start;
  background: $color-white;
  z-index: 100;
  border: solid 1px $color-grey-02;
  border-top: none;

  li {
    display: block;
    height: auto;
    width: 100%;

    a {
      padding: 8px 14px;
      width: 100%;
    }
  }
}
