<header>
  <div class="container">
    <div class="nav-container">
      <nav class="nav-left">
        <ul>
          <li>
            <a
              [routerLink]="['/']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li>
            <a [routerLink]="['/products']" [routerLinkActive]="'active'"
              >Products</a
            >
          </li>
          <li>
            <a [routerLink]="['/about']" [routerLinkActive]="'active'">About</a>
          </li>
        </ul>
      </nav>

      <nav class="nav-right">
        <ul>
          <li>
            <a class="icon" routerLink="/search" routerLinkActive="active">
              <i class="fa fa-search"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
