<header>
  <div class="container">
    <div class="nav-container">
      <nav class="nav-left">
        <ul>
          <li>
            <a
              [routerLink]="['/']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              class="img-link"
            >
              <img
                [src]="'assets/images/gifter-gradient.svg'"
                alt="Gifter text logo"
                class="img-logo"
              />
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              class="text-link"
            >
              <span>Home</span>
            </a>
            <a
              [routerLink]="['/']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              class="icon-link"
            >
              <span class="material-icons">home</span>
            </a>
          </li>
          <li class="has-sub">
            <a
              [routerLink]="['/products']"
              [routerLinkActive]="'active'"
              class="text-link"
            >
              <span>Products</span>
            </a>
            <a
              [routerLink]="['/products']"
              [routerLinkActive]="'active'"
              class="icon-link"
            >
              <span class="material-icons">card_giftcard</span>
            </a>
            <ul class="sub">
              <li *ngFor="let cat of cats">
                <a [routerLink]="['/products', cat]">{{ cat }}</a>
              </li>
            </ul>
          </li>
          <li>
            <a
              [routerLink]="['/about']"
              [routerLinkActive]="'active'"
              class="text-link"
            >
              <span>About</span>
            </a>
            <a
              [routerLink]="['/about']"
              [routerLinkActive]="'active'"
              class="icon-link"
            >
              <span class="material-icons">format_quote</span>
            </a>
          </li>
        </ul>
      </nav>

      <nav class="nav-right">
        <ul>
          <li>
            <a
              [routerLink]="['/search']"
              [routerLinkActive]="'active'"
              class="search-link"
            >
              <span class="material-icons">search</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
