* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: $font;
  color: $color-primary;
  min-width: 280px;
}

main {
  min-height: calc(100vh - 34px - 72px - 40px);
  margin-bottom: 40px;
}

.container {
  width: $container-width;
  max-width: $container-max-width;
  margin: auto;
  @media screen and (min-width: 768px) {
    width: $container-width-md;
  }
  @media screen and (min-width: 992px) {
    width: $container-width-lg;
  }
}

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 1rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
