* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: $font-body;
  font-size: 16px;
  line-height: 1.4;
  color: $color-text;
  min-width: 280px;
}

h1,
h2,
h3 {
  font-family: $font-header;
}

main {
  min-height: calc(100vh - 50px - 72px - 40px);
  margin-bottom: 40px;
}

.container {
  width: $container-width;
  max-width: $container-max-width;
  margin: auto;
  @media screen and (min-width: 768px) {
    width: $container-width-md;
  }
  @media screen and (min-width: 992px) {
    width: $container-width-lg;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}
