.t-center {
  text-align: center;
}

.t-lg {
  font-size: 1.25rem;
}

.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.m-b-3 {
  margin-bottom: 3 * $spacing;
}

.m-x-3 {
  margin: 3 * $spacing 0;
}
.m-x-5 {
  margin: 5 * $spacing 0;
}
