// text
$font-body: Arial, sans-serif;
$font-header: "Krona One", sans-serif;
$line-height: 1.5;

// colors
$color-primary: #2196f3;
$color-text: #333;
$color-grey: #eee;
$color-white: #fff;
$color-bluesk: #00b0ff;

// box model
$border: solid 1px black;

// layout
$spacing: 12px;
$container-width: calc(100% - 20px);
$container-width-md: calc(100% - 40px);
$container-width-lg: calc(100% - 80px);
$container-max-width: 1200px;
