<footer>
  <div class="container">
    <div class="footer__lists">
      <ul>
        <li>
          <a routerLink="/about">About</a>
        </li>
      </ul>
      <ul>
        <li>
          <a routerLink="/products">Products</a>
        </li>
      </ul>
      <ul>
        <li>
          <a><span class="material-icons">circle</span></a>
          <a><span class="material-icons">circle</span></a>
          <a><span class="material-icons">circle</span></a>
        </li>
      </ul>
    </div>
    <p class="copy">© 2021 - Gifter</p>
  </div>
</footer>
