@import "src/assets/styles/variables";

.cta {
  padding: $spacing 0;
  text-align: center;
}

.cta__link {
  font-size: 1.25rem;
  padding: $spacing $spacing * 1.5;
  border: solid 1px $color-cta;
  background: $color-cta;
  color: white;
  text-decoration: none;
  transition: all 0.4s ease-in-out;

  &:hover {
    background: white;
    color: $color-cta;
    animation: none;
  }

  span {
    display: inline-block;
    margin-left: $spacing * 2/3;
    animation: icon 5s ease-in-out infinite;
  }
}

@keyframes icon {
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
